@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700;800;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: rgb(25, 159, 5);
  --dark: black;
  --light: #898989;
  --pure: white;
  --bg-color: #f2f2f2;
}
body{
  width: 100%;
  font-family: "Barlow" , sans-serif;
  line-height: 1.8;
}


#nav-section{
  background-color: black;
}

a{
  text-decoration: none;
  font-weight: bold;
}
.nav-link{
  color: white;
  text-transform: uppercase;
  font-size: 20px;
}
.nav-link:hover{
  color:var(--primary);
   text-decoration: underline;

   text-underline-offset: 8px;
   text-decoration-thickness:3px;
}
section{

background-color:var(--dark);

}

 h1,h2,h3,h4,h5,h6{
  font-weight: 800;
 }

.logo {
  color: var(--primary);
  font-size: 2rem;
  letter-spacing: 0.2rem;
}


.hero{
  min-height: 100vh;
   color: var(--primary);
   padding-top:6rem;
  
}

.hero-image{
  width: 100%
}

.hero h1{
  font-weight: 900;
  letter-spacing: 0.2rem;
}


.resume-btn{
  background: transparent;
  color: var(--primary);
  border: none;
  border: 2px solid var(--primary);
  padding: 0.8rem 2rem;
  margin-top: 15px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.2rem;
  border-radius: 100px;
}

.resume-btn:hover {
  background-color: var(--primary);
  color: var(--dark);
 
}

#about-me , #skills{
   min-height: 100vh;
   color: var(--primary);
   padding-top:6rem;
}

.about-section{
  margin-bottom: 60px;
}
.about-section .hr-line{
  width: 80px;
  height: 4px;
  background-color: var(--primary);
  display:inline-block;
}
.about-section h1{
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 10px;
  letter-spacing: 0.2rem;
  font-size: 52px;
}
.img-fluid{
  width: 70%;
 
}

.intro p{
width: 95%;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size:20px;
}

#skill-container{
  text-align: center;
  margin-top: 33px;
}

.fa-brands{
  color: var(--primary);
  font-size: 4rem;
}
/* .devicon-jquery-plain {
    color: var(--primary);
  font-size: 4rem;
} */
.fa-brands:hover{
  color: var(--pure);
  cursor: pointer;
}